*.class
*~

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*Output.txt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
GreenhouseControlsOutput.txt
/ch14/ex8/BangBean/nbproject/private/
/ch14/ex8 and ex9/BangBeanTest/BangBeanTest/nbproject/private/
/ch14/ex8 and ex9/BangBeanTest/BangBeanTest/build/
/ch14/ex10/ValveNetbeans/Valve/nbproject/private/
/ch14/ex10/ValveNetbeans/Valve/build/
/ch14/ex10/ValveNetbeans/JavaApplication6/nbproject/private/
